@model SDGSDB.Models.UCInitialRegistration

@{
    ViewBag.Title = "UCRegistration";
    Layout = "~/Views/Layouts/_DashboardLayout.cshtml";
}

@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <!-- form start -->
                    @using (Html.BeginForm("OrgEmployees", "Organization", FormMethod.Post, new { @class = "form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <div class="well" style="padding:10px;border-radius:20px;">
                                        <h3><img width="50" src="~/Images/sdgs_circle.png" />SOP for working with SDG Academy, Islamabad.</h3>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div style="margin-top:20px;">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: justify;font-size: 15px;">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et. Et ultrices neque ornare aenean. Eget nunc scelerisque viverra mauris in aliquam. Velit dignissim sodales ut eu. Viverra vitae congue eu consequat ac felis donec et odio. Massa sed elementum tempus egestas sed sed risus.<br />
                                                    Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Maecenas accumsan lacus vel facilisis volutpat est. Sit amet venenatis urna cursus. Quis auctor elit sed vulputate mi sit. Augue interdum velit euismod in pellentesque massa. Consequat interdum varius sit amet mattis vulputate enim nulla. Ante in nibh mauris cursus. In nibh mauris cursus mattis molestie a iaculis at erat. In aliquam sem fringilla ut morbi tincidunt. Lorem mollis aliquam ut porttitor.<br />

                                                    Aliquet risus feugiat in ante metus dictum at. Etiam sit amet nisl purus in mollis nunc. Interdum consectetur libero id faucibus nisl tincidunt eget. Varius morbi enim nunc faucibus a pellentesque. Interdum posuere lorem ipsum dolor. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Ultricies tristique nulla aliquet enim tortor at auctor. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Magna fermentum iaculis eu non diam phasellus. Facilisis mauris sit amet massa vitae tortor. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. At urna condimentum mattis pellentesque id nibh tortor id aliquet. Risus pretium quam vulputate dignissim suspendisse. Non curabitur gravida arcu ac tortor dignissim convallis.<br />



                                                    Tempor orci eu lobortis elementum nibh tellus. Malesuada fames ac turpis egestas maecenas pharetra convallis. Mi tempus imperdiet nulla malesuada. Porttitor lacus luctus accumsan tortor posuere. Elementum sagittis vitae et leo duis ut diam quam. Scelerisque varius morbi enim nunc faucibus a pellentesque. Vel facilisis volutpat est velit egestas dui id ornare arcu. In metus vulputate eu scelerisque felis imperdiet proin. At risus viverra adipiscing at in tellus integer. Vestibulum lectus mauris ultrices eros in. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.
                                                </p>
                                            </div>

                                        </div>
                                        <div style="display:inline">
                                            <input type="checkbox" id="chk_box" />
                                            <label>I agree The terms and condition above</label>
                                        </div>
                                        <div class="row" id="reg_form" style="display: none">
                                            <div class="col-md-3">

                                                <img src="~/Images/ini_reg.png" width="100%" />

                                            </div>
                                            <div class="col-md-6">
                                                <!--Card content-->
                                                <div>
                                                    <img id="side_img" src="~/Images/REGISTERTION.jpg" width="100%" />
                                                </div>

                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()
                                                    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                            <form class="form">
                                                <div class="form-group">
                                                    <label for="drpProvince">Province</label>
                                                    <select id="drpProvince" class="form-control input-mini" name="Province">
                                                        <option value="" selected="selected">---Select Province---</option>

                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="dprDivision">Division</label>
                                                    <select id="dprDivision" class="form-control input-mini" name="dprDivision">
                                                        <option value="" selected="selected">---Select Division---</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="drpDistrict">District</label>
                                                    <select class="form-control input-mini" id="drpDistrict" name="drpDistrict">
                                                        <option value="" selected="selected">---Select District---</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="drpTehsils">Tehsils</label>
                                                    <select id="drpTehsils" class="form-control input-mini" name="Tehsils">
                                                        <option value="" selected="selected">---Select Tehsils---</option>

                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="drpProvince">UC Name</label>
                                                    @Html.ValidationMessageFor(model => model.Organization_Name, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.Organization_Name, new { htmlAttributes = new { @class = "form-control", id = "txtUCName" } })

                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "txtFPName" } })

                                                </div>
                                                <div class="form-group ">
                                                    @Html.LabelFor(model => model.Email_Id, htmlAttributes: new { @class = "control-label" })
                                                    @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.Email_Id, new { htmlAttributes = new { @class = "form-control", id = "CompanyEmail" } })

                                                    @*<label for="txtCompany">Email:</label>
            <input id="CompanyEmail" type="email" class="form-control" placeholder="Type Email Address" />*@

                                                </div>
                                                <div class="form-group ">
                                                    @Html.LabelFor(model => model.Contact_Number, htmlAttributes: new { @class = "control-label " })
                                                    @Html.ValidationMessageFor(model => model.Contact_Number, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control", id = "InitialContact" } })

                                                    @*<label for="txtCompany">Contact Number:</label>
            <input id="Contact" type="text" class="form-control" placeholder="Type Contact Number" />*@

                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Additional_Comments, htmlAttributes: new { @class = "control-label" })
                                                    @Html.ValidationMessageFor(model => model.Additional_Comments, "", new { @class = "text-danger" })
                                                    @*@Html.EditorFor(model => model.Additional_Comments, new { htmlAttributes = new { @class = "form-control", id = "Comments" } })*@
                                                    @Html.TextAreaFor(model => model.Additional_Comments, 5, 157, new { @class = "form-control", id = "txtAdditionalComments" })

                                                    @*<label for="txtAdditionalComments">Additional Comments:</label>
            <textarea type="text" class="form-control" id="txtAdditionalComments" placeholder="Additional Comments"></textarea>*@

                                                </div>

                                                <div class="form-group">

                                                    <input id="BtnSubmit" type="submit" value="Submit" class="form-control btn-primary" />
                                                </div>

                                            </form>

                                                }


                                                <div class="modal fade" tabindex="-1" id="successModal" data-keyboard="false" data-backdrop="static">
                                                    <div class="modal-dialog modal-md">
                                                        <div class="modal-content">
                                                            <div class="modal-header">

                                                                <h4>Success</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h2>Comapany registration request sent</h2>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button data-dismiss="modal" class="btn btn-success">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="divError" class="alert alert-danger collapse">
                                                        <a id="linkClose" class="close" href="#">$times;</a>
                                                        <div id="divErrorText"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>

                                        </div>
                                        <div id="DivRegRequest" style="visibility:hidden;" class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4>	<i class="icon fa fa-check"></i> Congratulation!</h4>
                                            <p>Union Council has been Registered! Check your Email and Create a Password for Your account to proceed further.</p>

                                        </div>
                                    </div>


                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer" style="text-align:center">

                                </div>

                            </div><!-- /.box -->
                        </fieldset>
                    }

                </div>
            </div>

            <div class="col-md-1"></div>
        </div><!--/.col (left) -->
        <!-- right column -->
    </div>   <!-- /.row -->
</section>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $('#chk_box').on('ifChanged', function () {
            if (this.checked) // if changed state is "CHECKED"
            {
                document.getElementById("reg_form").style.display = "block";
                $('html, body').animate({
                    scrollTop: $("#reg_form").offset().top
                }, 1000);
            }
            if (!this.checked) // if changed state is "UnCHECKED"
            {
                document.getElementById("reg_form").style.display = "none";
            }
        });
        var apiBaseUrl = document.getElementById('ApiBaseURL').innerHTML;
        var BaseUrl = document.getElementById('BaseURL').innerHTML;
        var UserID = document.getElementById('lblGUID').innerHTML;
        $("#BtnSubmit").click(function (e) {
            e.preventDefault();
            var email = $("#CompanyEmail").val();
            var Province_Id = $("#drpProvince").val();
            var Division_Id = $("#dprDivision").val();
            var District_Id = $("#drpDistrict").val();
            var Tehsils_Id = $("#drpTehsils").val();
            $.ajax({
                url: apiBaseUrl + '/Insert_UCInitial_Registration?UserId=' + UserID,
                method: 'POST',
                data: {
                    ProvinceId: Province_Id,
                    DivisionId: Division_Id,
                    DistrictId: District_Id,
                    Tehsil_Id: Tehsils_Id,
                    Organization_Name: $("#txtUCName").val(),
                    Name: $("#txtFPName").val(),
                    Contact_Number: $("#InitialContact").val(),
                    Email_Id: email,
                    Additional_Comments: $("#txtAdditionalComments").val()
                },
                success: function (data) {
                    var [OrgID, OfficeID] = data;
                    console.log(OrgID, OfficeID);
                    //alert(OrgID + "," + OfficeID);
                    $.ajax({
                        url: apiBaseUrl + '/api/SendEmail',

                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        dataType: 'json',
                        data: {
                            to: email,
                            subject: "Request to create account on SDGs database",
                            body: "<html><body><h2>Congratulations!</h2><br><h4> Union Council has been Registered! To Create a Password for Your account to proceed further. Please click on following Button</h4>" +
                                "<a href=\"" + BaseUrl + "/Account/Register?ID=" + OrgID + "&OfficeId=" + OfficeID + "\">Complete Registration</a></body></html>"
                        },
                        success: function () {

                            document.getElementById('DivRegRequest').style.visibility = 'visible';
                            $("#reg_form").hide();
                            $('input#chk_box').iCheck('uncheck');
                            $("#CompanyEmail").val("");
                            $("#drpProvince").val("");
                            $("#dprDivision").val("");
                            $("#drpDistrict").val("");
                            $("#drpTehsils").val("");
                            $("#txtUCName").val(""),
                            $("#txtFPName").val(""),
                            $("#InitialContact").val(""),
                            $("#txtAdditionalComments").val("")
                        },
                        error: function (XMLHttpRequest) {
                            console.log(XMLHttpRequest.responseText);
                        }
                    });

                },
                error: function (jqXHR) {
                    $("#divErrorText").text(jqXHR.responseText);
                    $('#divError').show('fade');
                }

            });
            //$("#initialReg")[0].reset();
        });

    });
</script>
