
@using SDGSDB.Models
@model UCPCompleteRegistrationModel
@{
    ViewBag.Title = "UnionCouncil";
    Layout = "~/Views/Layouts/_DashboardLayout.cshtml";
}

@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="modal fade" id="AddTourismSpotModal">
                <div class="modal-dialog" style="margin-top: 100px;">
                    <div class="modal-content" style="border-radius: 10px">

                        <!--Tourism Spot Modal Header -->
                        <div class="modal-header well" style="padding: 0px;border-radius: 10px;height: 40px;">
                            <h4 class="modal-title" style="margin-left:20px;margin-top:5px">Add Tourism Spot</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!--Tourism Spot Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <label id="lblEmailID" for="lblEmailID" style="display:none"></label>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txt_email">Tourism Spot Name</label>
                                            <font size="5">@Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger", @Style = "color:Red" })</font>
                                            @Html.EditorFor(m => m.Area, new { htmlattributes = new { @class = "form-control", id = "txt_Dept", placeholder = "Sector Name" } })

                                            @*<input type="text" class="form-control" id="txt_email" placeholder="Enter Email Address">*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txt_email">Tourism Spot Category</label>
                                            <font size="5">@Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger", @Style = "color:Red" })</font>
                                            <select class="form-control input-mini" id="drpTourismSpotCategory" name="drpTourismSpotCategory">
                                                <option value="OrganizationType" selected="selected">Tourism Spot Category</option>
                                                <option value="NGO">NGO</option>
                                                <option value="Public Department">Public Department</option>
                                                <option value="SME">SME</option>
                                            </select>

                                            @*<input type="text" class="form-control" id="txt_email" placeholder="Enter Email Address">*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txt_email">Popularity</label>
                                            <font size="5">@Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger", @Style = "color:Red" })</font>
                                            @Html.TextAreaFor(m => m.Other_Locality, 3, 157, new { placeholder = "Other Localities", @class = "form-control", id = "Popularity" })

                                            @*<input type="text" class="form-control" id="txt_email" placeholder="Enter Email Address">*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10">

                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" style="margin-left:80px;border-radius:10px;" id="btnEmployeeSubmit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Submit</button>
                            <button type="button" style="visibility:hidden;float:right;margin-left:10px;" id="BtnOrgEmailUpdate" class="btn btn-primary text-center">Update</button>
                            <button type="button" style="border-radius:10px;" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrows-alt"></i> Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" id="successUCRegistrationModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4>Success</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h2>Your Registration Completed Successfully!</h2>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-success">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                <div id="divError" class="alert alert-danger collapse">
                    <a id="linkClose" class="close" href="#">$times;</a>
                    <div id="divErrorText"></div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" id="UpdatesuccessUCRegistrationModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4>Success</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h2>Your Profile Updated Successfully!</h2>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-success">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                <div id="divError" class="alert alert-danger collapse">
                    <a id="linkClose" class="close" href="#">$times;</a>
                    <div id="divErrorText"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <!-- form start -->
                    @using (Html.BeginForm("UnionCouncil", "UnionCouncil", FormMethod.Post, new { @class = "form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <div class="well" style="padding:10px;border-radius:20px;">
                                        <h3><img width="50" src="~/Images/sdgs_circle.png" />Union Council Profile</h3>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div style="margin-top:20px;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">UC Name</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-magnet"></i></span>
                                                        @Html.Editor("UCName", new { htmlattributes = new { @class = "form-control", id = "txtUCName", style = "color:blue", disabled = "disabled", placeholder = "Union Council Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Area</label>
                                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-bar-chart-o"></i></span>
                                                        @Html.EditorFor(m => m.Area, new { htmlattributes = new { @class = "form-control", id = "txtArea", placeholder = "Area" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Population</label>
                                                    @Html.ValidationMessageFor(model => model.Population, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                                        @Html.EditorFor(m => m.Population, new { htmlattributes = new { @class = "form-control", id = "txtPopulation", placeholder = "Population" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Male Population</label>
                                                    @Html.ValidationMessageFor(model => model.MalePopulation, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                                        @Html.EditorFor(m => m.MalePopulation, new { htmlattributes = new { @class = "form-control", id = "txtMalePopulation", placeholder = "Male Population" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Female Population</label>
                                                    @Html.ValidationMessageFor(model => model.FemalePopulation, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                                        @Html.EditorFor(m => m.FemalePopulation, new { htmlattributes = new { @class = "form-control", id = "txtFemalePopulation", placeholder = "Female Population" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" id="ChkAllSDG5" value="0" name="ChkAllSDG5">
                                                    <i></i><strong style="font-size:20px;color:#ff3a21">Is Tourism Spot</strong>
                                                </label>
                                            </div>
                                        </div>

                                    </div>*@
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Other Localities</label>
                                                    @Html.ValidationMessageFor(model => model.Other_Locality, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                                        @Html.TextAreaFor(m => m.Other_Locality, 3, 157, new { placeholder = "Other Localities", @class = "form-control", id = "txtOther_Locality" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Climate</label>
                                                    @Html.ValidationMessageFor(model => model.Climate, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-cloud"></i></span>
                                                        @Html.TextAreaFor(m => m.Climate, 3, 157, new { placeholder = "Climate", @class = "form-control", id = "txtClimate" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Road Infrastructure</label>
                                                    @Html.ValidationMessageFor(model => model.RoadInfrastructure, "", new { @class = "text-danger" })
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-road"></i></span>
                                                        @Html.TextAreaFor(m => m.RoadInfrastructure, 3, 157, new { placeholder = "Road Infrastructure", @class = "form-control", id = "txtRoadInfrastructure" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        @*<div style="visibility:hidden" id="EmpDIVSuccess" class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4>	<i class="icon fa fa-check"></i> Congratulation!</h4>
                                        Employee Saved Successfully.
                                    </div>*@
                                    </div>


                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer" style="text-align:center">
                                    <button type="submit" style="border-radius:10px;text-align: center;" id="btnUCProfileSubmit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Submit</button>
                                    <button type="submit" style="border-radius:10px;text-align: center;visibility:hidden" id="btnUCProfileUpdate" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Update</button>
                                    @*<a href="/Organization/EmployeesDetail" style="margin-left:10px" class="btn btn-success"><i class="glyphicon glyphicon-th-large"></i> Detail</a>*@
                                </div>

                            </div><!-- /.box -->
                        </fieldset>
                    }

                </div>
            </div>

            <div class="col-md-1"></div>
        </div><!--/.col (left) -->
        <!-- right column -->
    </div>   <!-- /.row -->
</section>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        var apiBaseUrl = document.getElementById('ApiBaseURL').innerHTML;
        var BaseUrl = document.getElementById('BaseURL').innerHTML;
        var UserID = document.getElementById('lblGUID').innerHTML;
        //Get Registered UC Name
        $.ajax({
            type: 'Get',
            url: apiBaseUrl + '/GetLoginNGOOfficeInfo?UserID=' + UserID,
            dataType: 'json',
            success: function (result) {
                var JSONDATA = JSON.parse(result);
                //alert(JSONDATA);
                $.each(JSONDATA, function (index, val) {
                    $("#txtUCName").val(val.Organization_Name);
                });
            }
        });
        $('#ChkAllSDG5').on('ifChanged', function (e) {
            e.preventDefault();
           // alert("OK");
            if (this.checked) // if changed state is "CHECKED"
            {
                $("#AddTourismSpotModal").modal("show");
                //alert("Int");
                //$('#CHKSDG1').addClass("data-toggle", "modal");
                //$('#CHKSDG1').addClass("data-target", "#AddTourismSpotModal");
                //$('input#SDG1Indicatorcheckbox').iCheck('check');
            }
            //if (!this.checked) // if changed state is "UnCHECKED"
            //{
            //    $("#AddTourismSpotModal").modal("hide");
            //    document.getElementById("ChkAllSDG5").disabled = true;
            //}
        });
        //ADD UC Complete Registration
        $("#btnUCProfileSubmit").click(function (e) {
            e.preventDefault();
            if ($("txtArea").val() != '') {
                var Area = $("#txtArea").val();
                var Population = $("#txtPopulation").val();
                var MalePopulation = $("#txtMalePopulation").val();
                var FemalePopulation = $("#txtFemalePopulation").val();
                var Other_Locality = $("#txtOther_Locality").val();
                var Climate = $("#txtClimate").val();
                var RoadInfrastructure = $("#txtRoadInfrastructure").val();

                var data = {
                    Area: Area,
                    Population: Population,
                    MalePopulation: MalePopulation,
                    FemalePopulation: FemalePopulation,
                    Other_Locality: Other_Locality,
                    Climate: Climate,
                    RoadInfrastructure: RoadInfrastructure
                };
                var JSONDATA = JSON.stringify(data);
                //alert(JSONDATA);
                $.ajax({
                    type: 'POST',
                    url: apiBaseUrl + '/UCCompleteRegestration?UserID=' + UserID,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSONDATA,
                    success: function () {
                        //alert(JSONDATA);
                        $("#successUCRegistrationModal").modal("show");
                        window.location.href = "/UnionCouncil/UnionCouncilOrg";
                    },
                    error: function (jqXHR) {
                        $("#divErrorText").text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }

                });
            }

        });
        //Update UC Profile
        $("#btnUCProfileUpdate").click(function (e) {
            e.preventDefault();
            if ($("txtArea").val() != '') {
                var Area = $("#txtArea").val();
                var Population = $("#txtPopulation").val();
                var MalePopulation = $("#txtMalePopulation").val();
                var FemalePopulation = $("#txtFemalePopulation").val();
                var Other_Locality = $("#txtOther_Locality").val();
                var Climate = $("#txtClimate").val();
                var RoadInfrastructure = $("#txtRoadInfrastructure").val();

                var data = {
                    Area: Area,
                    Population: Population,
                    MalePopulation: MalePopulation,
                    FemalePopulation: FemalePopulation,
                    Other_Locality: Other_Locality,
                    Climate: Climate,
                    RoadInfrastructure: RoadInfrastructure
                };
                var JSONDATA = JSON.stringify(data);
                //alert(JSONDATA);
                $.ajax({
                    type: 'POST',
                    url: apiBaseUrl + '/UCUpdateProfile?UserID=' + UserID,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSONDATA,
                    success: function () {
                        //alert(JSONDATA);
                        $("#UpdatesuccessUCRegistrationModal").modal("show");
                        window.location.href = "/UnionCouncil/UCProfileView";
                    },
                    error: function (jqXHR) {
                        $("#divErrorText").text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }

                });
            }

        });
         if (@ViewBag.UCID != 0) {
             var UCID = "@ViewBag.UCID";
             //alert(UCID);
             $.ajax({
                 type: 'Get',
                 url: apiBaseUrl + '/GetUCProfile?UserID=' + UserID,
                 dataType: 'json',
                 success: function (result) {
                     //var JSONDATA = JSON.parse(result);
                     //alert(result);
                     $.each(result, function (index, val) {
                         $("#txtArea").val(val.Area);
                         $("#txtPopulation").val(val.Population);
                         $("#txtMalePopulation").val(val.MalePopulation);
                         $("#txtFemalePopulation").val(val.FemalePopulation);
                         $("#txtOther_Locality").val(val.OtherLocality);
                         $("#txtClimate").val(val.Climate);
                         $("#txtRoadInfrastructure").val(val.RoadInfrastructure);
                     });
                 }
             }); 
             document.getElementById('btnUCProfileSubmit').style.visibility = 'hidden';
             document.getElementById('btnUCProfileUpdate').style.visibility = 'visible';
        }
    });
</script>




